Django==1.11.2
psycopg2
pyelasticsearch
django-appconf
pyshp
raven==5.8.1
dj-database-url
DjangoRestless

-e git+https://github.com/datamade/imago@master#egg=imago

-e git+https://github.com/opencivicdata/pupa.git#egg=pupa

# represent-boundaries
-e git+https://github.com/opennorth/represent-boundaries.git#egg=boundaries

-e git+https://github.com/sunlightlabs/django-locksmith.git@python3#egg=django-locksmith

-e git+https://github.com/sunlightlabs/waterfall.git#egg=waterfall
