https://github.com/opencivicdata/python-opencivicdata/zipball/master
https://github.com/opencivicdata/pupa/zipball/master

Django==1.11.3
psycopg2
pyelasticsearch
django-appconf
pyshp
raven==5.8.1
dj-database-url
DjangoRestless
gunicorn

# https://github.com/datamade/imago/zipball/master
-e git://github.com/datamade/imago.git@54333f0d241a0050a852a6e762ad07aa75dbc6d0#egg=imago

# represent-boundaries
https://github.com/opennorth/represent-boundaries/zipball/master

https://github.com/sunlightlabs/django-locksmith/zipball/master

https://github.com/sunlightlabs/waterfall/zipball/master

